venv/
env/
.git
logs/
temp/
tblog/
.DS_Store
.ipynb_checkpoints/
__pycache__/
*.pyc
*.zip
.ipynb_checkpoints

# models
best_model/

# klines
klines/

# all temp files
*temp*

# dataset files
*.nc
*.npy
*.npz

# kears models
*.h5

# pipeline result
pipeline.csv

datasets/
*.csv
